body{
    padding: 0;
    margin: 0;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.navbar-nav a{
    margin-left: 20%;
}
.carousel-slide{
    background-image: url(images/background.jpg);
}





